.bubble 
  display inline-flex
  position relative

.bubble-content
  display inline-block
  color var(--efu-lighttext)
  font-weight bold
  transition all 0.2s ease-in-out
  text-shadow var(--efu-shadow-theme)
  border-bottom 2px dotted var(--efu-lighttext);
  &:hover
    transition all 0.2s ease-in-out
    color var(--efu-hovertext)

    & + .bubble-notation
        top calc(100% + 0.5em)
        transition all 0.5s ease-in-out
        opacity 1

.bubble-notation
    display flex
    position absolute
    top 0
    left 50%
    transform translateX(-50%)
    padding 0.3rem 0.6rem
    opacity 0
    pointer-events none
    transition all 0.3s
    border-radius 12px

    &::before
      content ''
      position absolute
      top -70%
      left 50%
      transform translateX(-50%) translateY(100%)
      border 0.5em solid transparent
      border-bottom-color var(--efu-lighttext)
      transition all 0.3s
      transition-property border-color transform