.st-btn
  display inline-block
  padding 0.5rem 1rem
  margin .5rem
  border var(--style-border)
  border-radius 8px
  background-color var(--efu-card-btn-bg)
  color var(--efu-fontcolor)
  text-decoration none
  cursor pointer
  transition all 0.3s

  &:hover
    border var(--style-border-hover)
    background-color var(--efu-theme-op)

  i
    font-size 1.2em
    vertical-align middle
    transition all 0.3s
  span
    margin-left 0.5em
