.keyboard
  border 1px solid var(--efu-secondbg)
  font-size 0.7em
  box-shadow 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444
  -webkit-border-radius 3px
  -moz-border-radius 3px
  border-radius 3px
  margin 2px 3px
  padding 1px 5px
  position relative
  top -1.5px