.repo-card
    display flex
    flex-direction column
    border var(--style-border)
    border-radius 12px
    padding 1.5rem
    margin .5rem 0
    transition 0.3s
    position relative 
    box-shadow var(--efu-shadow-border)

    .repo-title
        font-size 1.25rem

        &:hover
            color var(--efu-lighttext)!important

    .repo-desc
        margin .5rem 0!important

    .repo-language
        position absolute
        right 1.5rem
        top 1.5rem
    
    .repo-gist
        span
            margin-right .5rem